<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <form #postForm="ngForm" (ngSubmit)="onCreateFact(postForm.value)">
        <!-- <div class="form-group">
          <label for="title">Title</label>
          <input
            type="text"
            class="form-control"
            id="title"
            required
            ngModel
            name="title"
          />
        </div> -->
        <div class="form-group">
          <label for="content">Fact</label>
          <textarea
            class="form-control"
            id="content"
            required
            ngModel
            name="content"
            [(ngModel)]="new_fact"
          ></textarea>
        </div>
        <p><b>Length:</b> {{ new_fact?.length }}</p>
        <button
          class="btn btn-primary"
          type="submit"
          [disabled]="!postForm.valid"
        >
          Confirm
        </button>
      </form>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <button class="btn btn-primary" (click)="onFetchPosts()">
        Fetch Posts
      </button>
      |
      <button
        class="btn btn-danger"
        [disabled]="loadedPosts.length < 1"
        (click)="onClearPosts()"
      >
        Clear Posts
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <p *ngIf="loadedPosts.length < 1 && !isFetching">No posts available!</p>
      <ul class="list-group" *ngIf="loadedPosts.length >= 1 && !isFetching">
        <li class="list-group-item" *ngFor="let post of loadedPosts">
          <p><b>Fact:</b> {{ post.fact }}</p>
          <p><b>Length:</b> {{ post.length }}</p>
        </li>
      </ul>
      <p *ngIf="isFetching">Loading...</p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <a *ngIf="loadedFacts.current_page > 1" 
      href="#!" (click)="onPrevious()">Previous Page</a>
      <a *ngIf="loadedFacts.current_page < loadedFacts.last_page" 
      href="#!" (click)="onNext()" style="float: right;">Next Page</a>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <p>Page: {{ loadedFacts.current_page }}</p>
      <ul class="list-group" *ngIf="loadedFacts.data.length > 0">
        <li class="list-group-item" *ngFor="let fact of loadedFacts.data; index as i">
          <span class="badge" style="background-color:red;">
            <a href="#!" (click)="onRemoveFact(i)" style="color:white">✘</a>
          </span>
          <p><b>Fact:</b> {{ fact.fact }}</p>
          <p><b>Length:</b> {{ fact.length }}</p>
        </li>
      </ul>
      <p *ngIf="isFetching">Loading...</p>
    </div>
  </div>

</div>
